  .app_wrapper {
      display: flex;  
    flex-wrap: wrap;  
      justify-content: center;
      column-gap: 60px;
    padding: 2rem;
    overflow: auto;
  }
  
  .card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 1px #ddd;
    margin-bottom: 1rem;
      max-width: 300px;
    padding: 1rem 0;
    position: relative;
    width: 100%;
    text-align: center;
    
    .most-popular {
      font-size: 15px;
      font-weight: 700;
      background-color: #9b59b6;
      color: #fff;
      padding: .25em 1rem;
      border-radius: 15px;
      text-transform: uppercase;
    }
      
    &.free {
     border-top: 6px solid #1abc9c; 
    }
    
    &.basic {
     border-top: 6px solid #3498db; 
    }
    
    &.medium {
     border-top: 6px solid #9b59b6; 
    }
    
    &.pro {
     border-top: 6px solid #f1c40f; 
    }
  }

  .pro {
    border-top: 6px solid #FFCCA7;
  }

  #pro {
    border-top: 6px solid #E8333A;
  }

  #basic {
    border-top: 6px solid #1abc9c;
  }

  .pricing_cards_card__BUbPL.pro {
    border-top: 6px solid #E8333A;
  }

  .pricing_cards_card__BUbPL.basic {
    border-top: 6px solid #1abc9c;
  }

  .card_desc_h2{
    font-size: 26px;
    margin-bottom: .5rem;
  }

  .price{
    font-size: 32px;
    font-weight: 700;
  }

  .card_features{
    min-height: 150px;
  }

  .list_features{
    list-style-type: none;
    padding-inline-start: 0;
  }

  .action_button{
    border: 3px solid #E8333A;
    background-color: transparent;
    color: #E8333A;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    padding: .5rem 0;
    width: 100%;
    transition: .3s ease all;
    border-radius: 15px;
  }

  .action_button:hover{
    transition: .3s ease all;
    background-color: #E8333A;
    color: #fff;
  }
  
  .card {
    &_description,
    &_billing,
    &_features,
    &_action {
      padding: 15px;
    }
    
    &_description {
      h2 { 
        font-size: 26px;
        margin-bottom: .5rem;
      }
    }
    
    &_billing {
      background-color: #ecf0f1;
      
      p {
        margin-bottom: .5rem;
      }
      
      .price {
        font-size: 32px;
        font-weight: 700;
      }
    }
    
    &_features {
      min-height: 150px;
      
      ul li {
        margin-bottom: 1.5rem;
        font-size: 18px;
      }
    }
    
    &_action {
      > button {
        border: 3px solid #E8333A;
        background-color: transparent;
        color: #E8333A;
        cursor: pointer;
        font-size: 16px;
        font-weight: 600;
        padding: .5rem 0;
        width: 100%;
        transition: .3s ease all;
      }
      
      > button:hover {
        transition: .3s ease all;
        background-color: #E8333A;
        color: #fff;
      }
    }
  }

  @media(min-width: 990px){
    .card{
      width: 400px;
    }
  }