@media(min-width: 320px){
    .screen {
        width: 100vw;
    }

    .image {
        display: none;
    }

    .container {
        margin-top: 80px;
        justify-content: center;
        align-items: center;
        justify-items: center;
        width: 100vw;
    }

    .row {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .content {
        margin-top: 20px;
        margin-bottom: 20px;
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0px 2px 11px 1px rgb(141, 141, 141) !important;
        width: 300px;
        border: 2px solid;
        border-color: #F23A2E;
    }

    .form_header {
        display: flex;
        flex-direction: column;
    }

    .logo_header {
        max-width: 200px;
    }

    .header_element {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .signin_title {
        text-align: left;
        font-size: 22px;
        font-weight: 600;
        padding-top: 10px;
    }

    .signin_text {
        text-align: left;
        font-size: 14px;
        font-weight: 400;
        color: grey;
        padding-top: 10px;
    }

    .input_title {
        font-size: 14px;
        padding-bottom: 5px;
    }

    .form {
        display: flex;
        flex-direction: column;
    }

    .form_container {
        padding: 30px 10px 10px 10px;
    }

    .form_components{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .input_field_email{
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        border-radius: 15px 15px 0px 0px;
        border: 1px solid rgb(56, 65, 69);
        border-color: #F23A2E;
    }

    .input_field_password{
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        border-radius: 0px 0px 15px 15px;
        border: 1px solid rgb(56, 65, 69);
        border-color: #F23A2E;
    }

    .buttonContainer {
        padding-top: 30px;
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .submitButton {
        border-radius: 15px;
        border: 0px solid;
        padding: 5px 5px 5px 5px;
        background-color: #F23A2E;
        color: white;
        width: 100%;
        cursor: pointer;
    }
}

@media(min-width: 768px){
    .signin_title {
        font-size: 26px;
    }

    .signin_text {
        font-size: 16px;
    }

    .input_title {
        font-size: 20px;
    }

    .input_field_email {
        font-size: 16px;
        height: 40px;
    }

    .input_field_password{
        font-size: 16px;
        height: 40px;
    }

    .buttonContainer {
        padding-top: 50px;
    }

    .submitButton {
        width: 100%;
        font-size: 20px;
        height: 40px;
    }

    .content {
        width: 500px;
    }
}

@media(min-width: 1024px){
    .image {
        display: flex;
        max-width: 500px;
    }

    .row {
        column-gap: 100px;
    }

    .signin_title {
        font-size: 28px;
    }

    .input_title {
        font-size: 16px;
    }

    .input_field {
        font-size: 16px;
        height: 40px;
    }

    .submitButton {
        font-size: 20px;
        height: 40px
    }
}