@media only screen and (min-width: 320px){
    .screen {
        width: 100vw;
        background-color: transparent;
    }

    .container {
        padding-top: 50px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .points {
        font-weight: 400;
        font-size: 18px;
    }

    .subs {
        max-width: 70px;
    }

    .subsList {
        list-style: none;
        display: flex;
        flex-direction: row;
        column-gap: 10px;
        justify-content: center;
        padding-left: 0 !important;
    }

}

@media only screen and (min-width:600px){
    .subs {
        max-width: 80px;
        padding-right: 5px;
    }
    
    .subsList {
        flex-direction: row;
        justify-content: space-evenly;
        row-gap: 10px;
    }
}

@media only screen and (min-width: 768px){
    .container {
        padding-top: 120px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
    }

    .col1 {
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .col2 {
        padding-right: 20px;
        padding-left: 20px;
        justify-items: left;
    }

    .subsList {
        list-style: none;
        display: flex !important;
        flex-direction: row;
        justify-content: flex-start !important;
        padding-left: 0px;
    }

    .subs {
        max-width: 90px;
        padding-right: 5px;
    }
}

@media only screen and (min-width: 1024px) {
    .container{
        padding-top: 150px;
        justify-content: center;
        column-gap: 10px;
        margin-bottom: 40px;
    }

    .subs {
        max-width: 110px;
    }
}

@media only screen and (min-width: 1300px){
    .points{
        font-size: 26px;
    }

    .container {
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media only screen and (min-width: 1920px){
    .container {
        padding-top: 250px;
        justify-content: center;
        column-gap: 40px;
        padding-left: 180px;
        padding-right: 180px;
        padding-bottom: 100px;
    }   

    .points {
        font-size: 32px;
    }
}